html{
    background-color: rgb(111, 228, 228);
}
.neder{
   
     font-size: 85px;
     margin-top: -10px;
     margin-left: -10px;
     background-color: black;
     padding-left: 10px;
     position: relative;
    font-family: 'Courier New';
   color: rgb(253, 253, 253);
}
.fon_zadni{
margin-left: -1%;
margin-top: -6%;
position: absolute;
}
.full{
    overflow: hide;
}
.search{
    position: relative;
    margin-top: 300px;
    
    margin-left: 800px;
    padding-left:px;
    
}
.list_idea{
   
    
    margin-left: 800px;
    margin-right: 500px;
   
}
.list_idea li.hide{
    display: none;
}
.item1{
    background: rgb(174,170,228);
    background: linear-gradient(180deg, rgba(174,170,228,1) 0%, rgba(206,47,237,1) 0%, rgba(38,0,255,1) 100%);
    margin-top: 100px ;
    margin-right: 1680px;
    font-family: 'Courier New';
    font-size: 35px;
    gap: 10px;
}
.item2{
    background: rgb(2,0,36);
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(233,106,147,1) 0%, rgba(255,0,241,1) 100%);
    margin-right: 1680px;
    font-family: 'Courier New';
    font-size: 35px;
    gap: 10px;
}
.kk{
    background: rgb(2,0,36);
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(233,106,147,1) 0%, rgba(255,0,241,1) 100%);
    margin-left: 290px;
    margin-right: 1390px;
    margin-top: -485px;

    font-family: 'Courier New';
    font-size: 35px;
    gap: 10px;
  
}
.item_text{
    color: aliceblue;
}
.item_all{
    display: grid;
    gap: 1px;
}
.mm{
    color:rgb(255, 255, 255);
}
.log{
    font-size: 20px;
    padding-right: 30px;
}
